<div class="full-page-copy" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/assets/images/books.jpg);">
  <h3>What makes us unique?</h3>
</div>
<div class="two-column-flex-box">
  <div class="column-center">
    <%= image_tag 'translator.jpg' %>
  </div>
  <div class="vertical-center max-width-500">
    <h4>Be understood by your audience.</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut debitis repudiandae labore officiis, beatae quam soluta. Voluptate dolores ad excepturi. Sed a consequuntur culpa! Earum molestiae sequi eum velit deleniti!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut debitis repudiandae labore officiis, beatae quam soluta. Voluptate dolores ad excepturi. Sed a consequuntur culpa! Earum molestiae sequi eum velit deleniti!</p>
  </div>
</div>
<div class="two-column-flex-box flex-wrap">
  <div class="vertical-center max-width">
    <h4>Our services</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut debitis repudiandae labore officiis, beatae quam soluta. Voluptate dolores ad excepturi. Sed a consequuntur culpa! Earum molestiae sequi eum velit deleniti!</p>
  </div>
  <div class="square-card-container">
    <% data.services.each do |service| %>
      <div class="square-card">
          <div class="icon-container">
            <h5><%= service.icon %></h5>
            <p><%= service.name %></p>
          </div>
      </div>
    <% end %>
  </div>
</div>
