<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/assets/images/hero.png);">
  <div class="text-container">
    <h1>Do you have trouble being <strong>understood</strong> by <strong>your Japanese audience</strong>?</h1>
    <p>A reliable English-into-Japanese translator may be your answer.</p>
    <a class="btn btn-flat" href="#">Inquire</a>
  </div>
</div>
