<h2>Contact us</h2>
<div class="form-container-background">
  <div class="form-container">
    <form>
      <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="formControlTextarea">Message</label>
        <textarea class="form-control" id="formControlTextArea" rows="8" placeholder="What would you like to ask us about?"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
