<div class="wrapper-white">
  <div class="row">
    <div class="col-12">
      <div class="two-column-container" id="testimonials-and-inquiry-form" style="margin-bottom: 0;background-color: transparent; padding-bottom: 0">
        <div  class="half-container container-left">
          <%= partial 'partials/testimonials' %>
        </div>
        <div  class="half-container container-right">
          <%= partial 'partials/inquiry-form' %>
        </div>
      </div>
    </div>
  </div>
</div>
