<div class="wrap">
  <section class="section">
    <h2 class="section__title">Seasons</h2>
    <div class="grid">
    <% dato.seasons.sort_by(&:position).each do |season| %>
      <div class="grid__cell grid__cell--33">
        <% link_to "/seasons/#{season.slug}.html", class: "season-preview" do %>
          <div class="season-preview__meta" style="background-image: url('<%= season.image.file.width(5).to_url %>')">
            <div class="season-preview__image">
              <%= image_tag season.image.file.height(300).to_url %>
            </div>
            <h6 class="season-preview__title"><%= season.name %></h6>
            <div class="season-preview__description">
              <%= HTML_Truncator.truncate(season.overview, 30) %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>
</div>
