.character {
  display: block;
  text-decoration: none;
  transition: all 0.2s ease-out;
  position: relative;
  margin-top: 100px;
  border: 1px solid $border-color;
  padding: 30px;
  border-radius: 5px;
}

.character__image {
  border-radius: 3px;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: -100px;

  img {
    display: block;
    border-radius: 3px;
  }
}

.character__title {
  margin-bottom: 15px;
  font-size: 30px;
}

.character__content {
  font-size: 17px;
  text-align: justify;
}

@media screen and (min-width: 1100px) {
  .character {
    margin-top: 0;
    padding: 50px;
    margin-right: 150px;
    position: relative;
  }

  .character__title {
    font-size: 40px;
  }

  .character__image {
    margin-top: 0;
    float: right;
    margin-right: -150px;
    margin-left: 60px;
    margin-bottom: 50px;
    box-shadow: 0 2px 8px rgba(black, 0.2);
    width: 400px;

    img {
      display: block;
    }
  }
}
