.episode-preview {
  display: block;
  text-decoration: none;
  background-color: #565554;
  color: white;
  margin-bottom: 30px;
  transition: all 0.2s ease-out;

  &:hover {
    opacity: 0.9;
  }
}

.episode-preview--light {
  color: $base-body-color;
}

.episode-preview__image {
  padding-top: 60%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #393735;
}

.episode-preview__meta {
  padding: 20px
}

.episode-preview__title {
  font-size: 21px;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.episode-preview__details {
  font-size: 14px;
}
