.nav__item a {
  display: block;
  padding: 4px 0px;
  transition: padding 0.2s ease-out;
  color: $light-body-color;
  font-size: 17px;

  &:hover {
    color: $primary-color;
    padding-left: 15px;
  }
}

.nav__item__details {
  font-size: 14px;
}
