.pagination {
  margin: 40px 0;
  display: flex;
}

.pagination__prev,
.pagination__next {
  display: block;
  flex: 1;

  &:hover {
    color: $primary-color;
  }
}

.pagination__prev:before {
  content: "\21d0\00a0";
}

.pagination__next {
  text-align: right;

  &:after {
    content: "\00a0\21d2";
  }
}
