.season-preview {
  display: block;
  text-decoration: none;
  transition: all 0.2s ease-out;
  color: white;
  position: relative;
  max-width: 400px;
  margin: 80px auto;
  margin-bottom: 40px;

  &:hover {
    opacity: 0.9;
  }
}

.season-preview__image {
  background-color: #565554;
  box-shadow: 0 2px 8px rgba(black, 0.5);
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: -80px;

  img {
    display: block;
    border-radius: 3px;
  }
}

.season-preview__title {
  font-size: 30px;
  margin-bottom: 15px;
}

.season-preview__meta {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #393735;
  padding: 25px;
  text-align: center;
  border-radius: 5px;
}

.season-preview__description {
  font-size: 14px;
}
